.container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    justify-content: center;
    margin-top: auto;
}

.quadro1 {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
    
}

.quadro2 {
    width: 100px;
    height: 100px;
    background-color: rgb(32, 44, 218);
    
}

